
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<br />

<div class="container body-content" style="margin-top:50px;">
    <div class="row">

        <div class="col-xs-12 col-sm-8 col-lg-8 col-md-8">

            <div class="panel panel-primary">

                <!-- Default panel contents -->

                <div class="panel-heading">
                    <h5 class="panel-title">Show File: [ @Html.Raw(ViewBag.fileName) ]</h5>
                </div>


                <table class="table table-striped">
                    @*<tr>
                            @{
                                var lines = ViewBag.lines[0];

                                @foreach (var line in lines)
                                {

                                    <th>@Html.Raw(line)</th>
                                }
                            }
                        </tr>*@

                    @{
                        //ViewBag.lines.remove(0);

                        var liness = ViewBag.lines;

                        foreach (var line in liness)
                        {
                            <tr>
                                @foreach (var item in line)
                                {
                                    <td>@Html.Raw(item)</td>
                                }
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>


